
body{
    text-align: center;
    margin: 2 rem;
    padding: 4rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlqrOdi5H4rGdV5O_3cxrJ7xtki5e2YQswMA&usqp=CAU");
}
button{
    padding: 1rem;
    margin: 1rem;
}
ul li{
    display: inline;
}
footer{
    font-size:x-large;
}