



.container{
    /* display: flex; */
    display: inline-block;
    flex-direction:column ;
    width: 25vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
input{
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border: 2px solid rgb(21, 18, 31);
}
body{
    text-align: center;
    background-color: bisque;
}
button{
    padding: 1rem;
    margin: 2rem;
}
