
.container{
    display:inline-table;
    
    font-size: 18px;
}
body{
    text-align: center;
    background-color: lemonchiffon;
}

input{
    border: 2px solid rgb(211, 162, 184);
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(200, 209, 209);
    font-size:  15px;;
}
button{
    border: 2 px solid rgb(221, 224, 21)   ;
    margin: 6 rem;
    padding: 5 rem;
    width: 100vw;
    height: 5vw;
}
div{
    padding: 2rem;
}